{{ define "main" }}
<main>
    <article>
        <!-- <header> -->
        <!--     <h1>{{.Title}}</h1> -->
        <!-- </header> -->
        <!-- {{.Content}} -->
    </article>
    <div class="list">
    {{ range .Pages }}
        <p class="list-item">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
			<span>({{ .Date.Format "Jan 2006"}})</span>
        </p>
    {{ end }}
    </div>
	<style>
		.list {
			margin-top: 8rem;
			margin-bottom: 8rem;
		}

		.list-item {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}

		.list-item a {
			text-decoration: none;
		}
		.list-item span {
			color: var(--secondary);
		}
	</style>
</main>
{{ end }}
